{{- define "main" }}

<h1>Page 404 Error</h1>
<p>Sorry, this page does not exist</p>

<div class="frontbottom-menu">
    <div class="frontbottom-menu-item">
        <h3 class="frontbottom-menu-title">Quick Start</h3>
        <ul>
            <li><a href="https://www.virtuozzo.com/application-platform-docs/getting-started/">Getting Started</a></li>
            <li><a href="https://www.virtuozzo.com/application-platform-docs/dashboard-guide/">Dashboard Guide</a></li>
            <li><a href="https://www.virtuozzo.com/application-platform-docs/deployment-guide/">Deployment Guide</a></li>
            <li><a href="https://www.virtuozzo.com/application-platform-docs/database-connection/">Database Сonnection</a></li>
            <li><a href="https://www.virtuozzo.com/application-platform-docs/software-stacks-versions/">Software Stack Versions</a></li>
        </ul>
    </div>
    <div class="frontbottom-menu-item">
        <h3 class="frontbottom-menu-title">Recommended</h3>
        <ul>
            <li><a href="https://www.virtuozzo.com/application-platform-docs/automatic-vertical-scaling/">Automatic Vertical Scaling</a></li>
            <li><a href="https://www.virtuozzo.com/application-platform-docs/automatic-horizontal-scaling/">Automatic Horizontal Scaling</a></li>
            <li><a href="https://www.virtuozzo.com/application-platform-docs/custom-domains/">Custom Domain Name</a></li>
            <li><a href="https://www.virtuozzo.com/application-platform-docs/traffic-distributor/">Traffic Distributor</a></li>
            <li><a href="https://www.virtuozzo.com/application-platform-docs/account-collaboration/">Accounts Collaboration</a></li>
        </ul>
    </div>
    <div class="frontbottom-menu-item">
        <h3 class="frontbottom-menu-title">Getting Info</h3>
        <ul>
            <li><a href="https://www.virtuozzo.com/application-platform-docs/release-notes/">Release Notes</a></li>
            <li><a href="https://docs.jelastic.com/api/">Jelastic API</a></li>
            <li><a href="https://docs.cloudscripting.com/">Cloud Scripting</a></li>
            <li><a href="https://www.virtuozzo.com/application-platform-docs/cli/">Jelastic CLI</a></li>
            <li><a href="https://www.virtuozzo.com/application-platform-ops-docs/">Ops Docs</a></li>
        </ul>
    </div>
</div>

{{- end }}
