{{ $link := .Destination }}
{{ $isRemote := strings.HasPrefix $link "http" }}
{{ $isDocs := in $link .Page.Site.Params.hostName }}
{{ $isVirtuozzoSites := in $link "virtuozzo.com" }}
{{ $isPrivate := in $link "/private-" }}
<a href="{{ $link | safeURL }}" {{ with .Title}} title="{{ . }}"{{ end }} {{ if and (eq $isRemote true) (eq $isDocs false) }} target="_blank" {{ end }} {{if (eq $isPrivate true)}} rel="nofollow noindex"{{end}} {{if and (eq $isVirtuozzoSites false) (eq $isRemote true)}} rel="nofollow noopener"{{end}}>{{ .Text | safeHTML }}</a>