{{ $src := .Destination }}
{{ $alt := .Text | safeHTMLAttr }}
{{ $caption := .Title | default "" | safeHTML }}

{{ $img := .Page.Resources.GetMatch (path.Base $src) }}
{{ $imgType := "" }}
{{ with $img }}{{ $imgType = .MediaType.Type }}{{ end }}

{{ $isSupportedImage := and $img (in (slice "image/png" "image/jpeg") $imgType) }}

{{ if $isSupportedImage }}

  {{ $small := $img.Resize "320x" }}
  {{ $medium := $img.Resize "480x" }}
  {{ $large := $img }}

  {{ if .Page.Site.Params.useWebp }}

    {{ $smallWebp := $small.Process "webp" }}
    {{ $mediumWebp := $medium.Process "webp" }}
    {{ $largeWebp := $large.Process "webp" }}

    <figure>
      <picture>
        <source
          type="image/webp"
          srcset="{{ $smallWebp.RelPermalink }} {{ $smallWebp.Width }}w,
                  {{ $mediumWebp.RelPermalink }} {{ $mediumWebp.Width }}w,
                  {{ $largeWebp.RelPermalink }} {{ $largeWebp.Width }}w"
          sizes="(max-width: 600px) 320px, (max-width: 900px) 480px, 100vw" />
        <img
          src="{{ $medium.RelPermalink }}"
          srcset="{{ $small.RelPermalink }} {{ $small.Width }}w,
                  {{ $medium.RelPermalink }} {{ $medium.Width }}w,
                  {{ $large.RelPermalink }} {{ $large.Width }}w"
          sizes="(max-width: 600px) 320px, (max-width: 900px) 480px, 100vw"
          width="{{ $img.Width }}"
          height="{{ $img.Height }}"
          alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}"
          loading="lazy"
          decoding="async" />
      </picture>
      {{ if $caption }}
        <figcaption>{{ $caption | markdownify }}</figcaption>
      {{ end }}
    </figure>

  {{ else }}

    <figure>
      <img
        src="{{ $medium.RelPermalink }}"
        srcset="{{ $small.RelPermalink }} {{ $small.Width }}w,
                {{ $medium.RelPermalink }} {{ $medium.Width }}w,
                {{ $large.RelPermalink }} {{ $large.Width }}w"
        sizes="(max-width: 600px) 320px, (max-width: 900px) 480px, 100vw"
        width="{{ $img.Width }}"
        height="{{ $img.Height }}"
        alt="{{ if $alt }}{{ $alt }}{{ else if $caption }}{{ $caption | markdownify | plainify }}{{ else }}&nbsp;{{ end }}"
        loading="lazy"
        decoding="async" />
      {{ if $caption }}
        <figcaption>{{ $caption | markdownify }}</figcaption>
      {{ end }}
    </figure>

  {{ end }}

{{ else }}

  <img src="{{ $src }}" alt="{{ $alt }}" loading="lazy" decoding="async" />

{{ end }}