{{- $items := .Inner | transform.Unmarshal }}
{{- if $items }}
  <div class="faq-list">
    {{ range $items }}
      <div class="collapsible">
        <span class="hwrap" style="font-weight: 400; padding-left: 1rem;" >{{ .q }}</span>
        <div class="bwrap" style="display:none; padding-left: 1.5rem;">
          {{ .a | $.Page.RenderString }}
        </div>
      </div>
    {{ end }}
  </div>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {{- range $i, $item := $items }}
    {
      "@type": "Question",
      "name": {{ $item.q | plainify }},
      "acceptedAnswer": {
        "@type": "Answer",
        "text": {{ trim ($item.a | plainify | replaceRE "\\*+" "" | replaceRE "\\[([^\\]]+)\\]\\([^\\)]+\\)" "$1" | replaceRE "\\*\\*" "" | replaceRE "\\s+-\\s+" ", " | replaceRE "\\s+" " ") " " }},
      }
    }{{ if ne (add $i 1) (len $items) }},{{ end }}
    {{- end }}
  ]
}
</script>

{{- end }}