@import "fonts"
@import "variables"
@import "base"
@import "nav"
@import "components"
@import "utils"
@import "syntax"
@import "tables"
@import "pagination"
@import "component-youtube-lazy"

html, body
  height: 100%

.page-wrapper
  display: flex
  flex-direction: column
  height: 100%

.main-content-wrapper
  flex: 1 0 auto
  > .container
    padding-top: 40px

.banner
  width: 100%
  background-image: url("./../images/banner.svg")
  font-size: 26px
  color: #fff
  padding: 18px 0
  background-size: cover
  background-position: center

  a
    position: relative
    text-decoration: none !important

    &:after
      display: block
      width: 100%
      position: absolute
      bottom: 0px
      left: 0
      height: 1px
      background: #CB333B
      content: ''

footer
  flex: 0 0 auto
  min-height: 150px
  padding-bottom: 30px
  padding-top: 100px
  background-color: rgba(44, 44, 56, 1)
  border-top: 1px solid rgba(80, 78, 102, 1)
  color: #ccc

  .menu-icon
    font-size: 22px
    position: relative
    top: 1px
    margin-right: 5px
    font-weight: 100

  li
    padding: 0

.text-center
  text-align: center

.main-content-wrapper
  display: flex
  flex-wrap: wrap
  padding-top: 57px
  padding-bottom: 40px

.sticky
  position: sticky
  top: 100px

.content
  img
    display: block
    margin: 0 auto
    padding: 15px 0

.page-home .main-content-wrapper
  p
    display: block
    width: 100%
    max-width: 100%
    flex: 0 0 100%

  .logolinks
    flex: 0 0 100%
    display: flex
    flex-wrap: wrap
    padding-bottom: 40px
    margin: 0 -1%

    li
      flex: 0 0 12.2%
      max-width: 12.2%
      margin: 1%
      display: flex
      flex-wrap: wrap
      text-align: center
      padding-bottom: 30px
      padding-top: 20px
      background-color: #fff
      box-shadow: 0 0 30px 0 rgba(0, 132, 245, .1)
      border-radius: 10px
      transition: .2s

      &:hover
        background: #dde2f9

      .img-wrap
        height: 80px
        display: flex
        flex-wrap: wrap
        align-content: center

      img
        display: block
        text-align: center
        height: 40px
        max-width: 80%
        width: 100%

      a
        color: #333
        width: 100%
        font-size: 15px

      a:hover
        text-decoration: none

        img
          opacity: 0.8

    li:nth-child(1)
      img
        height: 58px

    li:nth-child(3)
      img
        height: 50px

    li:nth-child(4)
      img
        height: 48px

    li:nth-child(5)
      img
        height: 32px

    li:nth-child(7)
      img
        height: 25px

    li:nth-child(9)
      img
        height: 48px

    li:nth-child(11)
      img
        height: 44px

    li:nth-child(12)
      img
        height: 48px

    li:nth-child(14)
      img
        height: 44px

.developers_center
  margin-left: 0
  margin-top: 0

.frontbottom-menu
  flex: 0 0 100%
  display: flex
  flex-wrap: wrap
  position: relative
  margin-bottom: 40px

.frontbottom-menu-item
  max-width: 33.333456%
  text-align: left
  padding-left: 15px
  width: 100%

  li
    list-style-type: none
    padding-left: 15px
    position: relative

    a
      color: #000
      font-weight: 300

  li:before
    content: ""
    width: 4px
    height: 4px
    border-radius: 50%
    position: absolute
    left: 0
    margin: auto
    top: 16px
    background: #CB333B

.frontbottom-menu-title
  width: 100%
  text-align: left
  color: #333
  padding-bottom: 20px
  padding-top: 15px
  margin-top: 0

.btn
  display: inline-block
  width: 210px
  height: 43px
  text-align: center
  text-transform: uppercase
  color: #fff
  border-radius: 6px
  background: #CB333B
  font-size: 16px
  font-weight: 500
  padding: 6px 20px
  margin: auto
  line-height: 30px
  max-width: 100%
  transition: .3s

.btn:hover
  color: #fff
  background: #9B2637
  text-decoration: none


div#search-results.loading:after
  content: " "
  display: block
  width: 30px
  height: 30px
  margin: 15px 0
  border-radius: 50%
  border: 2px solid #86A2ED
  border-color: #86A2ED transparent #86A2ED transparent
  animation: lds-dual-ring 1.2s linear infinite


@keyframes lds-dual-ring
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

header .jelastic-logo .main-logo
  margin-bottom: 5px

header .jelastic-logo .ops-logo
  width: 300px
  @media (max-width: 1350px)
    width: 250px

header .jelastic-logo .docs-logo
  width: 280px
  @media (max-width: 1350px)
    width: 170px

header .jelastic-logo .mobile-logo
  display: none

@media (max-width: 1024px)
  header .jelastic-logo .docs-logo
    width: 160px

  header .jelastic-logo .ops-logo
    width: 200px

@media (max-width: 768px)
  .btn
    height: 43px !important
    line-height: 43px !important
    font-size: 18px !important
    padding: 0px 20px !important

footer

  .logo-footer
    opacity: .5
    width: 140px
    display: inline-block
    margin-bottom: 20px
    img
      margin: 0


  .widget
    margin-bottom: 40px

    > ul
      > li
        font-size: 13px
        padding: 10px 0

        ul
          padding: 5px 0

    ul
      li
        &.footer-no-display
          > a
            display: none


        a
          color: #fff
          padding: 5px 0
          line-height: 130%
          font-weight: 300
          text-decoration: none


        li
          a
            color: rgba(204, 204, 204, 1)
            transition: color .1s ease-in-out
            padding: 0

            &:hover
              color: #fff

  .widget-title
    font-weight: 400
    letter-spacing: 1px
    font-size: 14px
    line-height: 20px
    text-transform: uppercase

  .footer-menu
    display: flex
    justify-content: space-between

    > div
      width: 22%


.social
  margin-bottom: 20px
  display: flex
  a
    width: 40px
    height: 40px
    display: flex
    align-items: center
    justify-content: center
    transition: .3s
    border-radius: 50%
    background: none
    margin-left: 5px
    &:hover
      background: rgba(200,200,200,.25)

    &:first-child
      margin-left: 0

    svg
      width: 20px
      fill: rgba(115, 113, 133, 1)

.subbottom-part
  display: flex
  justify-content: space-between


.bottom-part
  padding-top: 20px !important
  border-top: 1px solid #504e66
  font-size: 13px
  color: rgba(204, 204, 204, 1)
  a
    color: #fff





/* footer mobile styles
@media (max-width: 1345px)
  footer .jlc-container
    padding: 0 30px

@media (max-width: 1200px)
  .main-content-wrapper
    padding-top: 62px
  .banner
    font-size: 18px

@media (max-width: 1024px)
  .main-content-wrapper
    padding-top: 50px
  .banner
    font-size: 14px
    margin-bottom: 60px
  .subbottom-part
    flex-direction: column

@media (max-width: 1222px)

  .page-home .main-content-wrapper .logolinks
    align-items: center
    justify-content: center

    li
      flex: 0 0 18%
      max-width: 18%
      margin: 1%


@media (max-width: 1110px)
  footer .footer-menu > div
    width: 23%

@media (max-width: 1010px)
  footer .footer-menu > div
    width: 24%

@media (max-width: 1060px)
  footer
    .footer-menu
      flex-wrap: wrap

      > div
        width: 45%

@media (max-width: 620px)
 
  .main-content-wrapper 
    > .container 
      padding-top: 80px

  .page-home .main-content-wrapper .logolinks
    padding-bottom: 10px

    li
      flex: 0 0 31%
      max-width: 31%
      margin: 1%

  .frontbottom-menu
    justify-content: center
  .frontbottom-menu-item
    flex: 0 0 100%
    max-width: 220px
    padding-top: 20px
    padding-left: 0

@media (max-width: 575px)
  footer .footer-menu > div
    width: 48%

  header .jelastic-logo .main-logo
    display: none

  header .jelastic-logo .mobile-logo
    display: block
    width: 100px

@media (max-width: 540px)
  footer
    .footer-menu
      > div
        width: 100%

@media (max-width: 450px)
  footer
    .jlc-container
      padding: 0 15px

    .footer-menu
      ul a
        padding-bottom: 20px

      .recent-publications ul a
        padding-bottom: 15px

    .footer-copyright
      padding: 15px 0

      .dot
        font-size: 15px
  .page-home .main-content-wrapper .logolinks
    li
      flex: 0 0 48%
      max-width: 48%
      margin: 1%
      padding-bottom: 20px
      padding-top: 10px

div#search-results.loading:after
  content: " "
  display: block
  width: 44px
  height: 44px
  margin: 8px
  border-radius: 50%
  border: 4px solid #fff
  border-color: #86A2ED transparent #86A2ED transparent
  animation: lds-dual-ring .6s linear infinite


@keyframes lds-dual-ring
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
