@import "fonts"
@import "variables"
@import "base"
@import "nav"
@import "components"
@import "utils"
@import "syntax"
@import "tables"
@import "pagination"
@import "component-youtube-lazy"

html, body
  height: 100%

.page-wrapper
  display: flex
  flex-direction: column
  height: 100%

.main-content-wrapper
  flex: 1 0 auto
  > .container
    padding-top: 40px

.banner
  width: 100%
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 1920 80'%3E%3Cg clip-path='url(%23n)'%3E%3Crect width='1920' height='80' fill='%23254D90'/%3E%3CforeignObject x='1194.16' y='-0.128563' width='274.392' height='274.392'%3E%3Cdiv xmlns='http://www.w3.org/1999/xhtml' clip-path='url(%23r)' style='backdrop-filter:blur(9.05px);height:100%25;width:100%25'%3E%3C/div%3E%3C/foreignObject%3E%3Cpath d='m1324.6 249.04-93.04-60.735c-19.38-12.647-24.83-38.607-12.19-57.983l60.74-93.047c12.65-19.376 38.61-24.83 57.98-12.183l93.05 60.735c19.37 12.647 24.83 38.608 12.18 57.983l-60.73 93.047c-12.65 19.376-38.61 24.83-57.99 12.183z' fill='url(%23h)' stroke='url(%23g)' stroke-width='.62955' data-figma-bg-blur-radius='18.0904'/%3E%3CforeignObject x='1270.38' y='-14.0793' width='277.657' height='277.657'%3E%3Cdiv xmlns='http://www.w3.org/1999/xhtml' clip-path='url(%23q)' style='backdrop-filter:blur(9.05px);height:100%25;width:100%25'%3E%3C/div%3E%3C/foreignObject%3E%3Cpath d='m1383.1 233.85-81.09-75.969c-16.89-15.82-17.75-42.333-1.93-59.218l75.97-81.086c15.82-16.885 42.33-17.749 59.22-1.9292l81.08 75.97c16.89 15.82 17.75 42.333 1.93 59.218l-75.97 81.086c-15.82 16.885-42.33 17.749-59.21 1.929z' fill='url(%23f)' fill-opacity='.3' stroke='url(%23e)' stroke-width='.62955' data-figma-bg-blur-radius='18.0904'/%3E%3CforeignObject x='1355.5' y='-9.68197' width='263.769' height='263.769'%3E%3Cdiv xmlns='http://www.w3.org/1999/xhtml' clip-path='url(%23p)' style='backdrop-filter:blur(5.95px);height:100%25;width:100%25'%3E%3C/div%3E%3C/foreignObject%3E%3Cpath d='m1442.8 225.12-66.66-88.896c-13.88-18.511-10.13-44.77 8.38-58.652l88.9-66.662c18.51-13.881 44.77-10.128 58.65 8.3829l66.66 88.896c13.88 18.511 10.13 44.77-8.38 58.652l-88.9 66.663c-18.51 13.881-44.77 10.128-58.65-8.384z' fill='url(%23d)' stroke='url(%23c)' stroke-width='.62955' data-figma-bg-blur-radius='11.8928'/%3E%3CforeignObject x='1430.58' y='-15.3209' width='269.953' height='269.953'%3E%3Cdiv xmlns='http://www.w3.org/1999/xhtml' clip-path='url(%23o)' style='backdrop-filter:blur(9.05px);height:100%25;width:100%25'%3E%3C/div%3E%3C/foreignObject%3E%3Cpath d='m1504 213.12-50.21-99.122c-10.38-20.488-2.18-45.51 18.31-55.889l99.12-50.213c20.49-10.379 45.51-2.1839 55.89 18.304l50.21 99.121c10.38 20.488 2.18 45.511-18.3 55.89l-99.13 50.213c-20.48 10.379-45.51 2.184-55.89-18.304z' fill='url(%23b)' stroke='url(%23a)' stroke-width='1.2489' data-figma-bg-blur-radius='18.0904'/%3E%3Cg filter='url(%23m)'%3E%3Ccircle transform='rotate(7.7903 1414.2 223.67)' cx='1414.2' cy='223.67' r='163.98' fill='%23EA343D' fill-opacity='.9'/%3E%3C/g%3E%3Cg filter='url(%23l)'%3E%3Ccircle transform='rotate(7.7903 1715.7 241.06)' cx='1715.7' cy='241.06' r='157.74' fill='%23EA343D' fill-opacity='.9'/%3E%3C/g%3E%3Cg filter='url(%23k)'%3E%3Ccircle transform='rotate(7.7903 1163 328.26)' cx='1163' cy='328.26' r='139.3' fill='%231E61D0'/%3E%3C/g%3E%3Cg filter='url(%23j)'%3E%3Ccircle transform='rotate(-26.868 1117.1 248.93)' cx='1117.1' cy='248.93' r='267.93' fill='%231E61D0'/%3E%3C/g%3E%3Cg filter='url(%23i)'%3E%3Ccircle transform='rotate(-26.868 1105 159.36)' cx='1105' cy='159.36' r='162.79' fill='%231E61D0'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='r' transform='translate(-1194.2 .12856)'%3E%3Cpath d='m1324.6 249.04-93.04-60.735c-19.38-12.647-24.83-38.607-12.19-57.983l60.74-93.047c12.65-19.376 38.61-24.83 57.98-12.183l93.05 60.735c19.37 12.647 24.83 38.608 12.18 57.983l-60.73 93.047c-12.65 19.376-38.61 24.83-57.99 12.183z'/%3E%3C/clipPath%3E%3CclipPath id='q' transform='translate(-1270.4 14.079)'%3E%3Cpath d='m1383.1 233.85-81.09-75.969c-16.89-15.82-17.75-42.333-1.93-59.218l75.97-81.086c15.82-16.885 42.33-17.749 59.22-1.9292l81.08 75.97c16.89 15.82 17.75 42.333 1.93 59.218l-75.97 81.086c-15.82 16.885-42.33 17.749-59.21 1.929z'/%3E%3C/clipPath%3E%3CclipPath id='p' transform='translate(-1355.5 9.682)'%3E%3Cpath d='m1442.8 225.12-66.66-88.896c-13.88-18.511-10.13-44.77 8.38-58.652l88.9-66.662c18.51-13.881 44.77-10.128 58.65 8.3829l66.66 88.896c13.88 18.511 10.13 44.77-8.38 58.652l-88.9 66.663c-18.51 13.881-44.77 10.128-58.65-8.384z'/%3E%3C/clipPath%3E%3CclipPath id='o' transform='translate(-1430.6 15.321)'%3E%3Cpath d='m1504 213.12-50.21-99.122c-10.38-20.488-2.18-45.51 18.31-55.889l99.12-50.213c20.49-10.379 45.51-2.1839 55.89 18.304l50.21 99.121c10.38 20.488 2.18 45.511-18.3 55.89l-99.13 50.213c-20.48 10.379-45.51 2.184-55.89-18.304z'/%3E%3C/clipPath%3E%3Cfilter id='m' x='1047.2' y='-143.31' width='733.96' height='733.96' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_1_741' stdDeviation='101.49'/%3E%3C/filter%3E%3Cfilter id='l' x='1362.6' y='-111.97' width='706.05' height='706.05' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_1_741' stdDeviation='97.6315'/%3E%3C/filter%3E%3Cfilter id='k' x='879.13' y='44.372' width='567.77' height='567.77' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_1_741' stdDeviation='72.2836'/%3E%3C/filter%3E%3Cfilter id='j' x='571.05' y='-297.12' width='1092.1' height='1092.1' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_1_741' stdDeviation='139.03'/%3E%3C/filter%3E%3Cfilter id='i' x='773.19' y='-172.41' width='663.56' height='663.56' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_1_741' stdDeviation='84.4751'/%3E%3C/filter%3E%3ClinearGradient id='h' x1='1379.8' x2='1280' y1='58.381' y2='211.21' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23282735' stop-opacity='0' offset='0'/%3E%3Cstop stop-color='%23254D90' offset='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' x1='1433.3' x2='1296.6' y1='97.059' y2='112.51' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23282735' stop-opacity='0' offset='0'/%3E%3Cstop stop-color='%236788E2' offset='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' x1='1508.5' x2='1387.6' y1='100.58' y2='228.16' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%231253C1' offset='0'/%3E%3Cstop stop-color='%2386A2ED' stop-opacity='.5' offset='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' x1='1516.6' x2='1379.2' y1='103.05' y2='94.528' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23282735' stop-opacity='0' offset='0'/%3E%3Cstop stop-color='%236788E2' offset='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' x1='1494.8' x2='1351.6' y1='116.72' y2='53.908' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23282735' stop-opacity='0' offset='0'/%3E%3Cstop stop-color='%23CB333B' offset='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x1='1548.7' x2='1437.6' y1='191.98' y2='43.758' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23282735' stop-opacity='0' offset='0'/%3E%3Cstop stop-color='%23CB333B' offset='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='1613.9' x2='1506.9' y1='199.03' y2='54.752' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23282735' stop-opacity='0' offset='0'/%3E%3Cstop stop-color='%23CB333B' offset='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='a' x1='1613.9' x2='1530.1' y1='199.03' y2='33.755' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23282735' stop-opacity='0' offset='0'/%3E%3Cstop stop-color='%23CB333B' offset='1'/%3E%3C/linearGradient%3E%3CclipPath id='n'%3E%3Crect width='1920' height='80' fill='%23fff'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
  font-size: 26px
  color: #fff
  padding: 18px 0
  background-size: cover
  background-position: center

  a
    position: relative
    text-decoration: none !important

    &:after
      display: block
      width: 100%
      position: absolute
      bottom: 0px
      left: 0
      height: 1px
      background: #CB333B
      content: ''

footer
  flex: 0 0 auto
  min-height: 150px
  padding-bottom: 30px
  padding-top: 100px
  background-color: rgba(44, 44, 56, 1)
  border-top: 1px solid rgba(80, 78, 102, 1)
  color: #ccc

  .menu-icon
    font-size: 22px
    position: relative
    top: 1px
    margin-right: 5px
    font-weight: 100

  li
    padding: 0

.text-center
  text-align: center

.main-content-wrapper
  display: flex
  flex-wrap: wrap
  padding-top: 57px
  padding-bottom: 40px

.sticky
  position: sticky
  top: 100px

.content
  img
    display: block
    margin: 0 auto
    padding: 15px 0

.page-home .main-content-wrapper
  p
    display: block
    width: 100%
    max-width: 100%
    flex: 0 0 100%

  .logolinks
    flex: 0 0 100%
    display: flex
    flex-wrap: wrap
    padding-bottom: 40px
    margin: 0 -1%

    li
      flex: 0 0 12.2%
      max-width: 12.2%
      margin: 1%
      display: flex
      flex-wrap: wrap
      text-align: center
      padding-bottom: 30px
      padding-top: 20px
      background-color: #fff
      box-shadow: 0 0 30px 0 rgba(0, 132, 245, .1)
      border-radius: 10px
      transition: .2s

      &:hover
        background: #dde2f9

      .img-wrap
        height: 80px
        display: flex
        flex-wrap: wrap
        align-content: center

      img
        display: block
        text-align: center
        height: 40px
        max-width: 80%
        width: 100%

      a
        color: #333
        width: 100%
        font-size: 15px

      a:hover
        text-decoration: none

        img
          opacity: 0.8

    li:nth-child(1)
      img
        height: 58px

    li:nth-child(3)
      img
        height: 50px

    li:nth-child(4)
      img
        height: 48px

    li:nth-child(5)
      img
        height: 32px

    li:nth-child(7)
      img
        height: 25px

    li:nth-child(9)
      img
        height: 48px

    li:nth-child(11)
      img
        height: 44px

    li:nth-child(12)
      img
        height: 48px

    li:nth-child(14)
      img
        height: 44px

.developers_center
  margin-left: 0
  margin-top: 0

.frontbottom-menu
  flex: 0 0 100%
  display: flex
  flex-wrap: wrap
  position: relative
  margin-bottom: 40px

.frontbottom-menu-item
  max-width: 33.333456%
  text-align: left
  padding-left: 15px
  width: 100%

  li
    list-style-type: none
    padding-left: 15px
    position: relative

    a
      color: #000
      font-weight: 300

  li:before
    content: ""
    width: 4px
    height: 4px
    border-radius: 50%
    position: absolute
    left: 0
    margin: auto
    top: 16px
    background: #CB333B

.frontbottom-menu-title
  width: 100%
  text-align: left
  color: #333
  padding-bottom: 20px
  padding-top: 15px
  margin-top: 0

.btn
  display: inline-block
  width: 210px
  height: 43px
  text-align: center
  text-transform: uppercase
  color: #fff
  border-radius: 6px
  background: #CB333B
  font-size: 16px
  font-weight: 600
  padding: 6px 20px
  margin: auto
  line-height: 30px
  max-width: 100%
  transition: .3s

.btn:hover
  color: #fff
  background: #9B2637
  text-decoration: none


div#search-results.loading:after
  content: " "
  display: block
  width: 30px
  height: 30px
  margin: 15px 0
  border-radius: 50%
  border: 2px solid #86A2ED
  border-color: #86A2ED transparent #86A2ED transparent
  animation: lds-dual-ring 1.2s linear infinite


@keyframes lds-dual-ring
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

header .jelastic-logo .main-logo
  margin-bottom: 5px

header .jelastic-logo .ops-logo
  width: 300px
  @media (max-width: 1350px)
    width: 250px

header .jelastic-logo .docs-logo
  width: 280px
  @media (max-width: 1350px)
    width: 170px

header .jelastic-logo .mobile-logo
  display: none

@media (max-width: 1024px)
  header .jelastic-logo .docs-logo
    width: 160px

  header .jelastic-logo .ops-logo
    width: 200px

@media (max-width: 768px)
  .btn
    height: 43px !important
    line-height: 43px !important
    font-size: 18px !important
    padding: 0px 20px !important

footer

  .logo-footer
    opacity: .5
    width: 140px
    display: inline-block
    margin-bottom: 20px
    img
      margin: 0


  .widget
    margin-bottom: 40px

    > ul
      > li
        font-size: 13px
        padding: 10px 0

        ul
          padding: 5px 0

    ul
      li
        &.footer-no-display
          > a
            display: none


        a
          color: #fff
          padding: 5px 0
          line-height: 130%
          font-weight: 300
          text-decoration: none


        li
          a
            color: rgba(204, 204, 204, 1)
            transition: color .1s ease-in-out
            padding: 0

            &:hover
              color: #fff

  .widget-title
    font-weight: 400
    letter-spacing: 1px
    font-size: 14px
    line-height: 20px
    text-transform: uppercase

  .footer-menu
    display: flex
    justify-content: space-between

    > div
      width: 22%


.social
  margin-bottom: 20px
  display: flex
  a
    width: 40px
    height: 40px
    display: flex
    align-items: center
    justify-content: center
    transition: .3s
    border-radius: 50%
    background: none
    margin-left: 5px
    &:hover
      background: rgba(200,200,200,.25)

    &:first-child
      margin-left: 0

    svg
      width: 20px
      fill: rgba(115, 113, 133, 1)

.subbottom-part
  display: flex
  justify-content: space-between


.bottom-part
  padding-top: 20px !important
  border-top: 1px solid #504e66
  font-size: 13px
  color: rgba(204, 204, 204, 1)
  a
    color: #fff





/* footer mobile styles
@media (max-width: 1345px)
  footer .jlc-container
    padding: 0 30px

@media (max-width: 1200px)
  .main-content-wrapper
    padding-top: 62px
  .banner
    font-size: 18px

@media (max-width: 1024px)
  .main-content-wrapper
    padding-top: 50px
  .banner
    font-size: 14px
    margin-bottom: 60px
  .subbottom-part
    flex-direction: column

@media (max-width: 1222px)

  .page-home .main-content-wrapper .logolinks
    align-items: center
    justify-content: center

    li
      flex: 0 0 18%
      max-width: 18%
      margin: 1%


@media (max-width: 1110px)
  footer .footer-menu > div
    width: 23%

@media (max-width: 1010px)
  footer .footer-menu > div
    width: 24%

@media (max-width: 1060px)
  footer
    .footer-menu
      flex-wrap: wrap

      > div
        width: 45%

@media (max-width: 620px)
 
  .main-content-wrapper 
    > .container 
      padding-top: 80px

  .page-home .main-content-wrapper .logolinks
    padding-bottom: 10px

    li
      flex: 0 0 31%
      max-width: 31%
      margin: 1%

  .frontbottom-menu
    justify-content: center
  .frontbottom-menu-item
    flex: 0 0 100%
    max-width: 220px
    padding-top: 20px
    padding-left: 0

@media (max-width: 575px)
  footer .footer-menu > div
    width: 48%

  header .jelastic-logo .main-logo
    display: none

  header .jelastic-logo .mobile-logo
    display: block
    width: 100px

@media (max-width: 540px)
  footer
    .footer-menu
      > div
        width: 100%

@media (max-width: 450px)
  footer
    .jlc-container
      padding: 0 15px

    .footer-menu
      ul a
        padding-bottom: 20px

      .recent-publications ul a
        padding-bottom: 15px

    .footer-copyright
      padding: 15px 0

      .dot
        font-size: 15px
  .page-home .main-content-wrapper .logolinks
    li
      flex: 0 0 48%
      max-width: 48%
      margin: 1%
      padding-bottom: 20px
      padding-top: 10px

div#search-results.loading:after
  content: " "
  display: block
  width: 44px
  height: 44px
  margin: 8px
  border-radius: 50%
  border: 4px solid #fff
  border-color: #86A2ED transparent #86A2ED transparent
  animation: lds-dual-ring .6s linear infinite


@keyframes lds-dual-ring
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
