{{ $logoLink := .Site.BaseURL }}
{{ if .Site.Params.logoLink }}
    {{ $logoLink = .Site.Params.logoLink }}
{{- end }}
<div class="jlc-container">
    <div class="menu-content">
        <div class="logo-part">
            <div class="left-header">
                <a class="jelastic-logo" href="{{ $logoLink }}">
                    {{ if .Site.Params.logo }}
                    <img class="main-logo nolaz {{ .Site.Params.logoClass }}" alt="{{ .Site.Params.pageSeoTitle }}"
                         width="{{ .Site.Params.logoWidth }}" height="{{ .Site.Params.logoHeight }}"
                         src="{{ .Site.BaseURL }}images/{{ .Site.Params.logo }}">
                    {{ end }}
                    <img class="mobile-logo nolaz" alt="Jelastic" width="180" height="35"
                         src="{{ .Site.BaseURL }}images/VZ_Logo.svg">
                </a>

                {{ if .Site.Params.versions }}
                <div class="versions">
                    <span class="current">
                        {{ .Site.Params.version }}
                    </span>
                    <div class="versions-list">
                        {{ range $version := .Site.Params.versions }}
                            {{ if eq $.Site.Params.version $version }}
                                <a href="/">{{ $version }}</a>
                            {{ else }}
                                {{ $result := replaceRE "^(https?://.*com/[^/]+/).*" "$1" $.Site.BaseURL }}
                                <a href="{{ $result }}{{ $version }}">{{ $version }}</a>
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
                {{ end }}
                <span class="sidebar-menu">{{ partial "i18n-extended.html" (slice "docs-menu" "Docs Menu") }}</span>
            </div>
            <span class="menu-mobile"><span>{{ partial "i18n-extended.html" (slice "menu" "Menu") }}</span></span>
        </div>
        <div class="menu-container">
            <div class="menu header-menu">
                <ul>
                    <div class="menu header-menu">
                        <ul>
                            <li class="menu-item menu-item-has-children menu-dropdown-icon">
                                <a href="#">{{ partial "i18n-extended.html" (slice "products" "Products") }}</a>
                                <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="https://www.virtuozzo.com/hybrid-cloud/">{{ partial "i18n-extended.html" (slice "hybrid-cloud" "Hybrid Cloud") }}</a>
                                </li>
                                <li class="menu-item">
                                    <a href="https://www.virtuozzo.com/hybrid-infrastructure/">{{ partial "i18n-extended.html" (slice "hybrid-infrastructure" "Hybrid Infrastructure") }}</a>
                                </li>
                                <li class="menu-item">
                                    <a href="https://www.virtuozzo.com/application-platform/">{{ partial "i18n-extended.html" (slice "application-platform" "Application Platform") }}</a>
                                </li>
                                <li class="menu-item">
                                    <a href="https://www.virtuozzo.com/hybrid-server/">{{ partial "i18n-extended.html" (slice "hybrid-server" "Hybrid Server") }}</a>
                                </li>
                                <li class="menu-item"><a href="https://www.virtuozzo.com/high-performance-storage/">{{ partial "i18n-extended.html" (slice "storage" "Storage") }}</a></li>
                                </ul>
                            </li>

                            <li class="menu-item menu-item-has-children menu-dropdown-icon">
                                <a href="#">{{ partial "i18n-extended.html" (slice "support" "Support") }}</a>
                                <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="https://www.virtuozzo.com/all-supported-products/">{{ partial "i18n-extended.html" (slice "product-support" "Product Support") }}</a>
                                </li>
                                <li class="menu-item">
                                    <a href="https://www.virtuozzo.com/documentation/">{{ partial "i18n-extended.html" (slice "documentation" "Documentation") }}</a>
                                </li>
                                <li class="menu-item">
                                    <a href="https://www.virtuozzo.com/professional-services/">{{ partial "i18n-extended.html" (slice "professional-services" "Professional Services") }}</a>
                                </li>
                                <li class="menu-item">
                                    <a href="https://www.virtuozzo.com/support-plans/">{{ partial "i18n-extended.html" (slice "support-plans" "Support Plans") }}</a>
                                </li>
                                </ul>
                            </li>

                            <li class="menu-item menu-item-has-children menu-dropdown-icon">
                                <a href="#">{{ partial "i18n-extended.html" (slice "partners" "Partners") }}</a>
                                <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="https://www.virtuozzo.com/iaas-providers/">{{ partial "i18n-extended.html" (slice "iaas-providers" "IaaS Providers") }}</a>
                                </li>
                                <li class="menu-item">
                                    <a href="https://www.virtuozzo.com/application-platform-partners/">{{ partial "i18n-extended.html" (slice "paas-providers" "PaaS Providers") }}</a>
                                </li>
                                <li class="menu-item">
                                    <a href="https://www.virtuozzo.com/technology-partnerships/">{{ partial "i18n-extended.html" (slice "technology-partners" "Technology Partners") }}</a>
                                </li>
                                <li class="menu-item">
                                    <a href="https://www.virtuozzo.com/distributors/">{{ partial "i18n-extended.html" (slice "distributors" "Distributors") }}</a>
                                </li>
                                <li class="menu-item">
                                    <a href="https://www.virtuozzo.com/resellers/">{{ partial "i18n-extended.html" (slice "resellers" "Resellers") }}</a>
                                </li>
                                <li class="menu-item">
                                    <a href="https://www.virtuozzo.com/partners/">{{ partial "i18n-extended.html" (slice "become-a-partner" "Become a Partner") }}</a>
                                </li>
                                </ul>
                            </li>

                            <li class="menu-item btn">
                                <a href="https://www.virtuozzo.com/company/contact/">{{ partial "i18n-extended.html" (slice "get-in-touch" "Get in Touch") }}</a>
                            </li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </div><!--/menu-content-->
</div><!--/container-->
