{{ $currentPage := .currentPage }}
{{ $level := .level }}
{{ $level = math.Add $level 1 }}
<ul class="menu-level-{{ $level}}">
    {{ range $index, $element := .data }}     
        {{ if $element.Weight }} 
            {{ $title := "" }}
            {{ $classList := "" }}
            {{ $isPrivate := "" }}
            {{ $isRemote := false }}
            {{ $isDocs := false }}
            {{ $isVirtuozzoSites := false }}
            {{ $hasPDF := false }}
            {{ $URL := $element.URL }}
            {{ if $element.ConfiguredURL }}
                {{ $URL = $element.ConfiguredURL }}
            {{ end }}
            {{ with $element.MenuConfig }}
                {{ with .URL }}
                    {{ $URL = . }}
                {{ end }}
            {{ end }}
            {{ if $element.Title }}
                {{ $title = $element.Title }}
            {{ else }}
                {{ $title = $element.Name }}
            {{ end }}
        
            {{ if $element.Children }}
                {{ $classList = math.Add $classList "has-children" }}
            {{ end }}
            {{/*  {{ if eq $URL $currentPage.RelPermalink }}
                {{ $classList = math.Add $classList " current-page" }}
            {{ end }}   */}}
            {{ $site := $currentPage.Site }}
            {{ $langPrefix := printf "/%s/" $site.Language.Lang }}

            {{ $menuPath := trim (urls.Parse $URL).Path "/" }}
            {{ $currentPathRaw := (urls.Parse $currentPage.RelPermalink).Path }}
            {{ $currentPath := trim (strings.TrimPrefix $langPrefix $currentPathRaw) "/" }}

            {{ if and (ne $menuPath "") (eq $menuPath $currentPath) }}
            {{ $classList = math.Add $classList " current-page" }}
            {{ end }}

            {{ if $URL }}
                {{ $isRemote = strings.HasPrefix $URL "http" }}
                {{ $isDocs = in $URL .Page.Site.Params.hostName }}
                {{ $isVirtuozzoSites = in $URL "virtuozzo.com" }}
                {{ $isPrivate = in $URL "/private-" }}
                
                {{ if and (eq $isDocs false) (eq $isRemote true) }}
                    {{ $classList = math.Add $classList " external" }}
                {{ end }}
            {{ end }}
            {{ if and ($element.Params.pdf) ($URL) }}
                {{ $classList = math.Add $classList " has-pdf" }}
                {{ $hasPDF = printf "%s%s" $URL $element.Params.pdf }}
            {{ end }}
            
            <li{{ with $classList }} class="{{ trim . " " }}"{{ end }}>
                <span class="aside-menu-item"> 
                    {{ if eq $level 1 }}
                        {{ if $element.Params.img }}
                            {{ $imgPath := printf "/content/%s/%s/%s" $element.Identifier $element.Identifier $element.Params.img }}
                            {{ $img := "" }}
                            {{ $imgFsPath := "" }}
                            {{ if fileExists $imgPath }}
                                {{ $img = printf "/%s/%s" $element.Identifier $element.Params.img }}
                                {{ $imgFsPath = $imgPath }}
                            {{ else }}
                                {{ $img = printf "/images/sidebar/%s" $element.Params.img }}
                                {{ $imgFsPath = printf "/static%s" $img }}
                            {{ end }}

                            {{ $w := 24 }}
                            {{ $h := 24 }}
                            {{ if fileExists $imgFsPath }}
                                {{ $svg := readFile $imgFsPath }}
                                {{ $tagMatch := findRE `(?s)<svg[^>]*>` $svg 1 }}
                                {{ if gt (len $tagMatch) 0 }}
                                    {{ $tag := index $tagMatch 0 }}
                                    {{ $wMatch := findRE `width=["'][0-9.]+["']` $tag 1 }}
                                    {{ $hMatch := findRE `height=["'][0-9.]+["']` $tag 1 }}
                                    {{ if and (gt (len $wMatch) 0) (gt (len $hMatch) 0) }}
                                        {{ $w = replaceRE `[^0-9.]` "" (index $wMatch 0) }}
                                        {{ $h = replaceRE `[^0-9.]` "" (index $hMatch 0) }}
                                    {{ else }}
                                        {{ $vbMatch := findRE `viewBox=["'][0-9.\s]+["']` $tag 1 }}
                                        {{ if gt (len $vbMatch) 0 }}
                                            {{ $vbClean := replaceRE `[^0-9.\s]` "" (index $vbMatch 0) }}
                                            {{ $vbClean = replaceRE `\s+` " " (strings.TrimSpace $vbClean) }}
                                            {{ $parts := split $vbClean " " }}
                                            {{ if eq (len $parts) 4 }}
                                                {{ $w = index $parts 2 }}
                                                {{ $h = index $parts 3 }}
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                {{ end }}
                            {{ end }}

                            {{ $w = math.Round $w }}
                            {{ $h = math.Round $h }}

                            <img src="{{ $img }}" width="{{ $w }}" height="{{ $h }}" alt="{{ $title | safeHTML }}">
                        {{ end }} 
                    {{ end }}

                    {{ if $URL }}
                        <a href="{{ if and (not $isRemote) (ne $site.Language.Lang "en") }}{{ printf "/%s" $site.Language.Lang }}{{ end }}{{ $URL | safeURL }}" {{ with $title}} title="{{ . }}"{{ end }} {{ if and (eq $isRemote true) (eq $isDocs false) }} target="_blank" {{ end }} {{if and (eq $isVirtuozzoSites false) (eq $isRemote true)}} rel="noopener"{{end}}>{{ $title | safeHTML }}</a>
                        {{ if $hasPDF}} 
                            <a href="{{ $hasPDF }}" class="menu-pdf"></a>
                        {{ end }}
                    {{ else }}
                        <span>{{ $title }}</span>
                    {{ end }}
                </span>
                {{ if $element.Children }}
                    {{ partial "recursive-nav.html" (dict "currentPage" $currentPage "level" $level "data" $element.Children) }}
                {{ end }}
            </li>
        {{ end }}
    {{ end }}
</ul>