<aside class="aside">
    <div class="menu-items-wrap sticky">
        <div class="aside-menu">
            <div class="search-box-side" id="search-box-side">

                <form action="/search/" class="">
                    <label for="docs-search" class="sr-only">Search</label>
                    <button type="submit" aria-label="search"></button>
                    <input id="docs-search" type="text" name="s" placeholder="Search" required>
                    <span class="clear-search"></span>
                </form>

                <div class="hide-sidebar-menu"></div>
            </div>
            <div class="aside-menu-wrapp">
                {{ $currentPage := .Page }}
                {{ $level := 0 }}
                {{ partial "recursive-nav.html" (dict "currentPage" $currentPage "level" $level "data" site.Menus.docs) }}
            </div>
        </div>
    </div>
</aside>
