<aside class="aside">
    <div class="menu-items-wrap sticky">
        <div class="aside-menu">
            <div class="search-box-side" id="search-box-side">
                {{ if .Site.Params.versions }}
                <div class="versions">
                    <span class="current">
                        {{ .Site.Params.version }}
                    </span>
                    <div class="versions-list">
                        {{ range $version := .Site.Params.versions }}
                            {{ if eq $.Site.Params.version $version }}
                                <a href="/">{{ $version }}</a>
                            {{ else }}
                                {{ $result := replaceRE "^(https?://.*com/[^/]+/).*" "$1" $.Site.BaseURL }}
                                <a href="{{ $result }}{{ $version }}">{{ $version }}</a>
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
                {{ end }}
                <form action="/search/" class="">
                    <label for="docs-search" class="sr-only">{{ i18n "search" }}</label>
                    <button type="submit" aria-label="search"></button>
                    <input id="docs-search" type="text" name="s" placeholder="{{ i18n `search` }}" required>
                    <span class="clear-search"></span>
                </form>
                <div class="hide-sidebar-menu"></div>
            </div> 
            <div class="aside-menu-wrapp">
                {{ $currentPage := .Page }}
                {{ $level := 0 }}
                {{ partial "recursive-nav.html" (dict "currentPage" $currentPage "level" $level "data" site.Menus.docs) }}
            </div>
        </div>
    </div>
</aside>
