<div id="static-footer">
  <div id="static-footer-top">
    <div class="static-footer-menu">
      <p>{{ partial "i18n-extended.html" (slice "products" "Products") }}</p>
      <ul>
        <li><a href="https://www.virtuozzo.com/hybrid-cloud/">{{ partial "i18n-extended.html" (slice "hybrid-cloud" "Hybrid Cloud") }}</a></li>
        <li><a href="https://www.virtuozzo.com/hybrid-infrastructure/">{{ partial "i18n-extended.html" (slice "hybrid-infrastructure" "Hybrid Infrastructure") }}</a></li>
        <li><a href="https://www.virtuozzo.com/application-platform/">{{ partial "i18n-extended.html" (slice "application-platform" "Application Platform") }}</a></li>
        <li><a href="https://www.virtuozzo.com/cloud-platform-for-vmware/">{{ partial "i18n-extended.html" (slice "self-service-for-vcenter" "Self-Service for vCenter") }}</a></li>
        <li><a href="https://www.virtuozzo.com/hybrid-server/">{{ partial "i18n-extended.html" (slice "hybrid-server" "Hybrid Server") }}</a></li>
      </ul>
    </div>

    <div class="static-footer-menu">
      <p>{{ partial "i18n-extended.html" (slice "solutions" "Solutions") }}</p>
      <ul>
        <li><a href="https://www.virtuozzo.com/vmware-alternative/">{{ partial "i18n-extended.html" (slice "vmware-alternative" "VMware Alternative") }}</a></li>
        <li><a href="https://www.virtuozzo.com/application-platform/">{{ partial "i18n-extended.html" (slice "platform-as-a-service" "Platform as a Service") }}</a></li>
        <li><a href="https://www.virtuozzo.com/kubernetes-hosting/">{{ partial "i18n-extended.html" (slice "kubernetes-orchestration" "Kubernetes Orchestration") }}</a></li>
        <li><a href="https://www.virtuozzo.com/database-as-a-service/">{{ partial "i18n-extended.html" (slice "database-management" "Database Management") }}</a></li>
        <li><a href="https://www.virtuozzo.com/high-performance-storage/">{{ partial "i18n-extended.html" (slice "high-performance-storage" "High Performance Storage") }}</a></li>
        <li><a href="https://www.virtuozzo.com/multi-cloud-platform/">{{ partial "i18n-extended.html" (slice "multi-cloud" "Multi-Cloud") }}</a></li>
      </ul>
    </div>

    <div class="static-footer-menu">
      <p>{{ partial "i18n-extended.html" (slice "partners" "Partners") }}</p>
      <ul>
        <li><a href="https://www.virtuozzo.com/application-platform-partners/">{{ partial "i18n-extended.html" (slice "paas-providers" "PaaS Providers") }}</a></li>
        <li><a href="https://www.virtuozzo.com/iaas-providers/">{{ partial "i18n-extended.html" (slice "iaas-providers" "IaaS Providers") }}</a></li>
        <li><a href="https://www.virtuozzo.com/technology-partnerships/">{{ partial "i18n-extended.html" (slice "technology-partners" "Technology Partners") }}</a></li>
        <li><a href="https://www.virtuozzo.com/resellers/">{{ partial "i18n-extended.html" (slice "resellers" "Resellers") }}</a></li>
        <li><a href="https://www.virtuozzo.com/distributors/">{{ partial "i18n-extended.html" (slice "distributors" "Distributors") }}</a></li>
        <li><a href="https://www.virtuozzo.com/partners/">{{ partial "i18n-extended.html" (slice "become-a-partner" "Become a Partner") }}</a></li>
      </ul>
    </div>

    <div class="static-footer-menu">
      <p>{{ partial "i18n-extended.html" (slice "support" "Support") }}</p>
      <ul>
        <li><a href="https://www.virtuozzo.com/documentation/">{{ partial "i18n-extended.html" (slice "documentation" "Documentation") }}</a></li>
        <li><a href="https://www.virtuozzo.com/all-supported-products/">{{ partial "i18n-extended.html" (slice "product-support" "Product Support") }}</a></li>
        <li><a href="https://www.virtuozzo.com/professional-services/">{{ partial "i18n-extended.html" (slice "professional-services" "Professional Services") }}</a></li>
        <li><a href="https://www.virtuozzo.com/product-updates/">{{ partial "i18n-extended.html" (slice "product-updates" "Product Updates") }}</a></li>
        <li><a href="https://www.virtuozzo.com/resources/videos/">{{ partial "i18n-extended.html" (slice "videos" "Videos") }}</a></li>
      </ul>
    </div>

    <div class="static-footer-menu">
      <p>{{ partial "i18n-extended.html" (slice "company" "Company") }}</p>
      <ul>
        <li><a href="https://www.virtuozzo.com/company/about/">{{ partial "i18n-extended.html" (slice "about" "About") }}</a></li>
        <li><a href="https://www.virtuozzo.com/company/leadership/">{{ partial "i18n-extended.html" (slice "leadership" "Leadership") }}</a></li>
        <li><a href="https://www.virtuozzo.com/resources/#case-studies">{{ partial "i18n-extended.html" (slice "case-studies" "Case Studies") }}</a></li>
        <li><a href="https://www.virtuozzo.com/company/blog/">{{ partial "i18n-extended.html" (slice "blog" "Blog") }}</a></li>
        <li><a href="https://www.virtuozzo.com/company/events/">{{ partial "i18n-extended.html" (slice "events" "Events") }}</a></li>
        <li><a href="https://www.virtuozzo.com/company/contact/">{{ partial "i18n-extended.html" (slice "contact" "Contact") }}</a></li>
      </ul>
    </div>
  </div>

  <div id="static-footer-bottom">
    <div class="static-footer-bottom-top">
      <img src="https://www.virtuozzo.com/wp-content/uploads/2021/02/virtuozzo-logo-white.svg" alt="Virtuozzo logo" width="600" height="108">
      <ul class="static-footer-social">
        <li><a href="https://www.linkedin.com/company/virtuozzo" target="_blank"><img src="https://www.virtuozzo.com/wp-content/themes/virtuozzo-child/assets/img/linkedin.svg" alt="linkedin" width="35" height="35"></a></li>
        <li><a href="https://x.com/virtuozzoinc" target="_blank"><img src="https://www.virtuozzo.com/wp-content/themes/virtuozzo-child/assets/img/twitter.svg" alt="twitter" width="34" height="35"></a></li>
        <li><a href="https://www.facebook.com/VirtuozzoInc/" target="_blank"><img src="https://www.virtuozzo.com/wp-content/themes/virtuozzo-child/assets/img/facebook.svg" alt="facebook" width="34" height="35"></a></li>
        <li><a href="https://www.youtube.com/channel/UCF1QeKAgIZ8ZQFaqUxPp87w" target="_blank"><img src="https://www.virtuozzo.com/wp-content/themes/virtuozzo-child/assets/img/youtube.svg" alt="youtube" width="35" height="35"></a></li>
      </ul>
    </div>
    <div class="static-footer-bottom-bottom">
      <p>© Virtuozzo. {{ partial "i18n-extended.html" (slice "all-rights-reserved" "All rights reserved") }} | <a href="https://www.virtuozzo.com/legal/">{{ partial "i18n-extended.html" (slice "privacy-and-legal" "Privacy & Legal") }}</a></p>
    </div>
  </div>
</div>
<style>
    div#static-footer {
        background: #1E1D28;
        padding-top: 100px;
    }
    #static-footer-top, .static-footer-bottom-top, .static-footer-bottom-bottom {
        width: 1190px;
        margin: 0 auto;
    }
    #static-footer-top {
        display: flex;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }
    .static-footer-menu p {
        font-size: 18px;
        color: #8A8A90;
        font-weight: 600;
        margin: 0 0 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 0;
    }
    .static-footer-menu {
        width: 20%;
        margin: 0 0 30px;
        padding: 0 15px;
    }
    .static-footer-menu ul {
        list-style: none;
        margin: 0;
    }
    .static-footer-menu ul a {
        color: #8A8A90;
        font-size: 14px;
        line-height: 140%;
        text-decoration: none !important;
    }
    .static-footer-menu ul li {
        margin: 0 0 15px;
        padding: 0;
    }
    .static-footer-menu ul a:hover {
        color: #fff;
    }
    #static-footer-bottom {
        border-top: 1px solid #ffffff10;
        padding: 30px 0;
    }
    #static-footer * {
        box-sizing: border-box;
    }
    .static-footer-bottom-top > img {
        width: 150px;
        margin: 0;
    }
    .static-footer-bottom-top {
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
    }
    ul.static-footer-social {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    ul.static-footer-social img {
        display: block;
        margin: 0;
    }
    ul.static-footer-social li {
        margin: 0 0 0 7px;
        padding: 0;
    }
    ul.static-footer-social li:first-child {
        margin: 0;
    }
    .static-footer-bottom-bottom p {
        margin: 0;
        font-size: 14px;
        color: #8A8A90;
    }
    .static-footer-bottom-bottom a {
        color: #fff;
    }
    .static-footer-bottom-bottom {
        margin-top: 15px;
        padding: 0 15px;
    }
    @media (max-width: 1260px) {
        #static-footer-top, .static-footer-bottom-top, .static-footer-bottom-bottom {
            max-width: 94%;
        }
    }
    @media (max-width: 760px) {
        #static-footer-top, .static-footer-bottom-top, .static-footer-bottom-bottom {
            max-width: 90%;
        }
        .static-footer-menu {
            width: 33.3334567%;
        }
    }
    @media (max-width: 576px) {
        #static-footer-top, .static-footer-bottom-top, .static-footer-bottom-bottom {
            max-width: 100%;
        }
        .static-footer-menu {
            width: 100%;
        }
        .static-footer-bottom-top {
            flex-direction: column;
        }
        ul.static-footer-social {
            margin-top: 20px;
        }
        div#static-footer {
            padding-top: 50px;
        }
        #static-footer-top {
            margin-bottom: 0;
        }
        .static-footer-menu h5 {
            margin-bottom: 20px;
        }
        .static-footer-menu ul li {
            margin-bottom: 10px;
        }
    }
</style>