<div id="static-footer">
  <div id="static-footer-top">
    <div class="static-footer-menu">
      <h5>{{ i18n "products" }}</h5>
      <ul>
        <li><a href="https://www.virtuozzo.com/hybrid-cloud/">{{ i18n "hybrid-cloud" }}</a></li>
        <li><a href="https://www.virtuozzo.com/hybrid-infrastructure/">{{ i18n "hybrid-infrastructure" }}</a></li>
        <li><a href="https://www.virtuozzo.com/application-platform/">{{ i18n "application-platform" }}</a></li>
        <li><a href="https://www.virtuozzo.com/cloud-platform-for-vmware/">{{ i18n "self-service-for-vcenter" }}</a></li>
        <li><a href="https://www.virtuozzo.com/hybrid-server/">{{ i18n "hybrid-server" }}</a></li>
      </ul>
    </div>

    <div class="static-footer-menu">
      <h5>{{ i18n "solutions" }}</h5>
      <ul>
        <li><a href="https://www.virtuozzo.com/vmware-alternative/">{{ i18n "vmware-alternative" }}</a></li>
        <li><a href="https://www.virtuozzo.com/application-platform/">{{ i18n "platform-as-a-service" }}</a></li>
        <li><a href="https://www.virtuozzo.com/kubernetes-hosting/">{{ i18n "kubernetes-orchestration" }}</a></li>
        <li><a href="https://www.virtuozzo.com/database-as-a-service/">{{ i18n "database-management" }}</a></li>
        <li><a href="https://www.virtuozzo.com/high-performance-storage/">{{ i18n "high-performance-storage" }}</a></li>
        <li><a href="https://www.virtuozzo.com/multi-cloud-platform/">{{ i18n "multi-cloud" }}</a></li>
      </ul>
    </div>

    <div class="static-footer-menu">
      <h5>{{ i18n "partners" }}</h5>
      <ul>
        <li><a href="https://www.virtuozzo.com/application-platform-partners/">{{ i18n "paas-providers" }}</a></li>
        <li><a href="https://www.virtuozzo.com/iaas-providers/">{{ i18n "iaas-providers" }}</a></li>
        <li><a href="https://www.virtuozzo.com/technology-partnerships/">{{ i18n "technology-partners" }}</a></li>
        <li><a href="https://www.virtuozzo.com/resellers/">{{ i18n "resellers" }}</a></li>
        <li><a href="https://www.virtuozzo.com/distributors/">{{ i18n "distributors" }}</a></li>
        <li><a href="https://www.virtuozzo.com/partners/">{{ i18n "become-a-partner" }}</a></li>
      </ul>
    </div>

    <div class="static-footer-menu">
      <h5>{{ i18n "support" }}</h5>
      <ul>
        <li><a href="https://www.virtuozzo.com/documentation/">{{ i18n "documentation" }}</a></li>
        <li><a href="https://www.virtuozzo.com/all-supported-products/">{{ i18n "product-support" }}</a></li>
        <li><a href="https://www.virtuozzo.com/professional-services/">{{ i18n "professional-services" }}</a></li>
        <li><a href="https://www.virtuozzo.com/product-updates/">{{ i18n "product-updates" }}</a></li>
        <li><a href="https://www.virtuozzo.com/resources/videos/">{{ i18n "videos" }}</a></li>
      </ul>
    </div>

    <div class="static-footer-menu">
      <h5>{{ i18n "company" }}</h5>
      <ul>
        <li><a href="https://www.virtuozzo.com/company/about/">{{ i18n "about" }}</a></li>
        <li><a href="https://www.virtuozzo.com/company/leadership/">{{ i18n "leadership" }}</a></li>
        <li><a href="https://www.virtuozzo.com/resources/#case-studies">{{ i18n "case-studies" }}</a></li>
        <li><a href="https://www.virtuozzo.com/company/blog/">{{ i18n "blog" }}</a></li>
        <li><a href="https://www.virtuozzo.com/company/events/">{{ i18n "events" }}</a></li>
        <li><a href="https://www.virtuozzo.com/company/contact/">{{ i18n "contact" }}</a></li>
      </ul>
    </div>
  </div>

  <div id="static-footer-bottom">
    <div class="static-footer-bottom-top">
      <img src="https://www.virtuozzo.com/wp-content/uploads/2021/02/virtuozzo-logo-white.svg" alt="Virtuozzo logo" width="600" height="108">
      <ul class="static-footer-social">
        <li><a href="https://www.linkedin.com/company/virtuozzo" target="_blank"><img src="https://www.virtuozzo.com/wp-content/themes/virtuozzo-child/assets/img/linkedin.svg" alt="linkedin" width="35" height="35"></a></li>
        <li><a href="https://x.com/virtuozzoinc" target="_blank"><img src="https://www.virtuozzo.com/wp-content/themes/virtuozzo-child/assets/img/twitter.svg" alt="twitter" width="34" height="35"></a></li>
        <li><a href="https://www.facebook.com/VirtuozzoInc/" target="_blank"><img src="https://www.virtuozzo.com/wp-content/themes/virtuozzo-child/assets/img/facebook.svg" alt="facebook" width="34" height="35"></a></li>
        <li><a href="https://www.youtube.com/channel/UCF1QeKAgIZ8ZQFaqUxPp87w" target="_blank"><img src="https://www.virtuozzo.com/wp-content/themes/virtuozzo-child/assets/img/youtube.svg" alt="youtube" width="35" height="35"></a></li>
      </ul>
    </div>
    <div class="static-footer-bottom-bottom">
      <p>© Virtuozzo. {{ i18n "all-rights-reserved" }} | <a href="https://www.virtuozzo.com/legal/">{{ i18n "privacy-and-legal" }}</a></p>
    </div>
  </div>
</div>
<style>
    div#static-footer {
        background: #1E1D28;
        padding-top: 100px;
    }
    #static-footer-top, .static-footer-bottom-top, .static-footer-bottom-bottom {
        width: 1190px;
        margin: 0 auto;
    }
    #static-footer-top {
        display: flex;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }
    .static-footer-menu h5 {
        font-size: 18px;
        color: #8A8A90;
        font-weight: 600;
        margin: 0 0 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 0;
    }
    .static-footer-menu {
        width: 20%;
        margin: 0 0 30px;
        padding: 0 15px;
    }
    .static-footer-menu ul {
        list-style: none;
        margin: 0;
    }
    .static-footer-menu ul a {
        color: #8A8A90;
        font-size: 14px;
        line-height: 140%;
        text-decoration: none !important;
    }
    .static-footer-menu ul li {
        margin: 0 0 15px;
        padding: 0;
    }
    .static-footer-menu ul a:hover {
        color: #fff;
    }
    #static-footer-bottom {
        border-top: 1px solid #ffffff10;
        padding: 30px 0;
    }
    #static-footer * {
        box-sizing: border-box;
    }
    .static-footer-bottom-top > img {
        width: 150px;
        margin: 0;
    }
    .static-footer-bottom-top {
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
    }
    ul.static-footer-social {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    ul.static-footer-social img {
        display: block;
        margin: 0;
    }
    ul.static-footer-social li {
        margin: 0 0 0 7px;
        padding: 0;
    }
    ul.static-footer-social li:first-child {
        margin: 0;
    }
    .static-footer-bottom-bottom p {
        margin: 0;
        font-size: 14px;
        color: #8A8A90;
    }
    .static-footer-bottom-bottom a {
        color: #fff;
    }
    .static-footer-bottom-bottom {
        margin-top: 15px;
        padding: 0 15px;
    }
    @media (max-width: 1260px) {
        #static-footer-top, .static-footer-bottom-top, .static-footer-bottom-bottom {
            max-width: 94%;
        }
    }
    @media (max-width: 760px) {
        #static-footer-top, .static-footer-bottom-top, .static-footer-bottom-bottom {
            max-width: 90%;
        }
        .static-footer-menu {
            width: 33.3334567%;
        }
    }
    @media (max-width: 576px) {
        #static-footer-top, .static-footer-bottom-top, .static-footer-bottom-bottom {
            max-width: 100%;
        }
        .static-footer-menu {
            width: 100%;
        }
        .static-footer-bottom-top {
            flex-direction: column;
        }
        ul.static-footer-social {
            margin-top: 20px;
        }
        div#static-footer {
            padding-top: 50px;
        }
        #static-footer-top {
            margin-bottom: 0;
        }
        .static-footer-menu h5 {
            margin-bottom: 20px;
        }
        .static-footer-menu ul li {
            margin-bottom: 10px;
        }
    }
</style>